<div class="block-popular">
                
    <span class="popular-elem">Популярное в поиске:</span>
    <a href="/">Toyota Camry 2008</a>,
    <a href="/">Дом с видом на море</a>,
    <a href="/"> Отдам котенка в хорошие руки</a> ,
    <a href="/">Долгосрочно квартира в Краснодаре </a>
    <br>

    <span class="popular-elem">Популярные города:</span>
    <a href="/">Краснодар</a>,
    <a href="/">Хабаровск</a>,
    <a href="/">Москва</a>,
    <a href="/">Челябинск </a><br>
</div>