<footer>
    <div class="up-footer">
        |<a href="about-us"> О нас </a>|
        <a href=""> Сотрудники </a>
        |<a href="contacts"> Контакты </a>|
        <a href=""> Безопасность </a>
        |<a href=""> Правила и политика </a>|
        <a href=""> Отзывы </a>|<br>
    </div>
    <div class="bottom-footer">
        <span>Copyright © 2022 goodwood.com, Все права защищены. </span>
    </div>
</footer>