<header>
    <div  class='header-item'>
        <div class="block-logo">
            <a href="/"><img src="../img/gw.png" height="50" width="50" alt="Логотип"></a>
        </div>
    </div>

    
    <div class="header-item title-slogan">
        <div class="block-title">
            GoodWood
        </div>
        <div class="block-slogan">
            Доска объявлений
        </div>
    </div>
    


    <div class=" header-item hidden-for-mobile ">           
            <form action="" class="block-form-where-find ">
                    <input  type="text"  class="form-where-find" name="search-where" placeholder="Где?(Город,регион)..." >
            </form>    
    </div>


    <div class=" header-item hidden-for-mobile "> 
            <form action="" class="block-form-what-find">
                    <input  type="text"  class="form-what-find" name="search-where" placeholder="Что искать...">
            </form>
    </div>


    <div class="header-item block-button-find hidden-for-mobile">
        <button class="button-find">Найти</button>
    </div>
    

    <div class="adv-add header-item">
        <div class="one" ">
            <img src="../img/menu.png"      class='icon-menu'  alt="menu">
            <img src="../img/menu-green.png"     class='icon-menu-green' alt="menu">
                <div class="dropdown-menu"  id='icon-menu'>
                    <ul >
                        <a href="add-adv"><li>Добавить объявление</li></a>
                        <a href=""><li>Полезно знать</li></a>
                        <a href=""><li>Отзывы</li></a>
                        <a href="contacts"><li>Контакты</li></a>

                    </ul>
                </div>
        </div>


        <a href='../posts'><button class="button-find know">Полезно знать</button></a>
        <a href="../add-adv"><button class="button-find adv-add">Добавить объявление</button></a>
    </div>

</header>