<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/block-head.ejs') %>

    <link rel="stylesheet" href="css/about-us.css">

    <title>GoodWood | <%= title %></title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>


    <div class="main-block">
        <div class="block-about-us">
            <p>GoodWood — это интернет-сайт, доступный по адресу goodwood.ru (включая все уровни домена)
             через полную и мобильную версии и мобильное приложение, представляющий собой совокупность
              содержащихся в информационной системе объектов интеллектуальной собственности Компании и
               информации (административного и пользовательского контента) («GoodWood»).</p>

               <p>Авито представляет собой электронный каталог объявлений о товарах, услугах, вакансиях, 
            резюме и других предложениях (вместе — «товары»), которые пользователи могут предлагать и
             искать на GoodWood с целью заключения сделок.</p>
            
             <p>Компания предоставляет всем пользователям техническую возможность размещать информацию
             на GoodWood в формате объявлений в представленных категориях товаров. Компания предоставляет всем
              пользователям (независимо от авторизации) техническую возможность искать и просматривать объявления
               на GoodWood в целях, предусмотренных Правилами. Автоматические алгоритмы GoodWood обрабатывают запросы, 
               чтобы предоставлять релевантную информацию в результатах поиска.</p>
            
               <p>Компания не является участником, организатором сделки, покупателем, продавцом, 
            работодателем, посредником, агентом, представителем какого-либо пользователя, выгодоприобретателем
             или иным заинтересованным лицом в отношении сделок между пользователями. Пользователи используют
              размещённую на GoodWood информацию, чтобы заключать сделки на свой риск без прямого или косвенного
               участия или контроля со стороны Компании.</p>
        </div>

         
    </div>

    <%- include('./partials/footer.ejs') %>

    <!-- <script>
        if (window.performance) {
            let radios = document.getElementById('must_to_choise');
            radios.checked = 'checked';
           
        }
    </script> -->
</body>

</html>